<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Test Automation" verbose="5" >
 <parameter name="GoogleSearchInput"  value="Google"/>
 <parameter name="url" value="https://www.google.com/"></parameter>
  <test name="TestNG Test" >
    <classes>
       <class name="testngTests.TestngParametersTest" />
       <!-- <class name="testngTests.GoogleTest" /> -->
    </classes>
  </test>
</suite>
